.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
vbs/**
others/**
md_demo/**
node_modules/**
license-report-config.json
buildme.js

